doctype html
html
	title WHEELCHAIR POWER
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="stylesheet" type="text/css" href="../stylesheets/index.css")

	body
		div.main-wrapper
			div.title-wrapper
				div.title Battery App.
				div.description.
					<br/>Introducing the world's greatest battery app<br/>
					in existence.<br/><br/>
					Brought to you by Company.
			div.content-wrapper
				div.interface-wrapper
					div.app-panel