doctype html
html
	title WHEELCHAIR POWER
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="stylesheet" type="text/css" href="../stylesheets/index.css")

	body
		div.main-wrapper

			div.content-wrapper

				div.title-wrapper
					div.title Battery App.
					div.description.
						<br/>Introducing the world's greatest battery app<br/>
						in existence.<br/><br/>
						Brought to you by Company.

				div.interface-wrapper
					div.app-panel

						div.app-title-container
							div.app-title WHEELCHAIR<br/>POWER

						div.separator

						div.app-content-container
							div.app-content
								div.nav-arrow
								div.data-display-container
									div.data-display
										div.data-text#charge-data
											div.data-label charge
											div.data-number 0
										svg.progress-bar
											circle(r="34%" cx="50%" cy="54%")#charge-bg
											circle(r="34%" cx="50%" cy="54%").progress-cover.randomize#battery-charge
											circle(r="34%" cx="50%" cy="54%").cover-dot.randomize#charge-dot
									div.data-display
										div.data-text#health-data
											div.data-label health
											div.data-number 0
										svg.progress-bar#battery-charge
											circle(r="34%" cx="50%" cy="46%")#health-bg
											circle(r="34%" cx="50%" cy="46%").progress-cover.randomize#battery-health
											circle(r="34%" cx="50%" cy="46%").cover-dot.randomize#health-dot
								div.nav-arrow
							ul.content-slider
								li.slider-dot.active
									div
								li.slider-dot
									div
								li.slider-dot
									div
						
						div.app-buttons-container
							div.button-container
								div.button-text connected
								div.button-icon
									div
							div.button-container
								div.button-text
								div.button-icon
									div
							div.button-container
								div.button-text cloud
								div.button-icon
									div

				div.input-wrapper
					div.input-name charge
					input(type="range", min="0", max="100")#charge-input
					div.input-name health
					input(type="range", min="0", max="100")#health-input
					label(for="randomize")
						span randomize
						input(type="checkbox")#randomize

	script(src="../javascript/index.js")